<div id="overDiv" style="position:absolute; visibility:hidden; z-index:1000;"></div>

<table width=100%><col width=25><col width=50><col width=25>
    <tr>
        <td class=content_center><a href="http://{{ data.myhost }}/status/" style="color: #FFFFFF" title="Status Page">Status</a></td>
        <td class=content_center><i><font size=3><a href="http://{{ data.myhost }}/jobs/" style="color: #FFFFFF">Jobs @ {{ data.host }}</a></font>&nbsp;&nbsp;({{ data.note }})</i></td>
        <td class=content_center><a href="http://{{ data.myhost }}/status/result.php" style="color: #FFFFFF" title="Results Page">Results</td>
    </tr>
</table>